@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
@use "../base/typography";
.view-users-back {
  display: flex;
  flex-direction: row;
  gap: 1em;
  cursor: pointer;
  h6 {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: c.color(cbSecondary);
  }
}

.view-users-header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 95%;

  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: c.color(cbSecondary);
  }
}

.view-users-button {
  display: flex;
  gap: 1em;
}

.view-users-card {
  position: absolute;
  width: 75%;
  height: 210px;
  top: 270px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-sizing: border-box;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.view-users-center-personal-space {
  margin-top: 2rem;
}

.view-users-center-between {
  display: flex;
  gap: 10rem;
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: c.color(cbSecondary);
    padding-bottom: 0.3rem;
  }

  h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: c.color(cbSecondary);
  }
}

.view-users-center {
  position: absolute;
  margin-top: 0rem;
  width: 75%;
  top: 510px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-sizing: border-box;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 1.5rem;

  &-personal {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid c.color(cbText-200);
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: c.color(cbSecondary);
    font-style: normal;
    padding-bottom: 1rem;
  }

  &-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: c.color(cbSecondary);
      padding-bottom: 0.3rem;
    }

    h6 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: c.color(cbSecondary);
    }
  }
  &-padding {
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    margin-top: 1rem;

    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: c.color(cbSecondary);
      padding-bottom: 0.3rem;
    }

    h6 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: c.color(cbSecondary);
    }
  }
}

.view-user-center-padding-cell {
  margin-left: 2.7rem;
}
.view-user-center-flex-padding {
  margin-left: -3.1rem;
}
.view-users-card-header {
  padding: 2rem;
}

.view-users-card-header__avatar {
  display: flex;
  text-align: center;
  align-items: center;
}

.view-users-card-header__avatar-text {
  padding-right: 1rem;
  padding-left: 1rem;
  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: c.color(cbText);
    text-align: left;
  }

  h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: c.color(cbSecondary);
    text-align: left;
  }

  h4 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: c.color(cbSecondary);
  }
}

.view-users-card-header__avatar-border {
  border-right: 1px solid c.color(cbSecondary-100);
  height: 80px;
}

.view-users-card-footer-tags {
  display: flex;
  justify-content: space-around;
  margin-top: 1.3rem;
  cursor: pointer;

  h6 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
  }
  &-1 {
    color: c.color(cbPrimary);
    border-bottom: 3px solid c.color(cbPrimary);
  }
}

.btn-view-blacklist {
  background-color: white;
  color: c.color(cbRed);
  width: 170px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid c.color(cbRed);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  left: 58.06%;
  right: 10.9%;
  top: 62.56%;
  bottom: 32.11%;
}

.btn-view-activate {
  background-color: white;
  color: c.color(cbPrimary);
  width: 170px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid c.color(cbPrimary);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  left: 58.06%;
  right: 10.9%;
  top: 62.56%;
  bottom: 32.11%;
}

@media screen and (max-width: 970px) {
  .view-users-back {
    margin-top: 2rem;
    h6 {
      white-space: nowrap;
    }
  }

  .view-users-header {
    h4 {
      margin-right: 2rem;
      font-size: 14px;
      white-space: nowrap;
    }
  }
  .btn-view-blacklist {
    width: 100px;
    font-size: 8px;
    height: 30px;
  }
  .btn-view-activate {
    width: 100px;
    font-size: 8px;
    height: 30px;
  }

  .view-users-card {
    top: 0;
    width: 80%;
    margin-top: 11rem;
    height: auto;
  }
  .view-users-card-header {
    padding: 0.4rem;
  }
  .view-users-card-header__avatar {
    img {
      width: 20px;
    }
  }
  .view-users-card-header__avatar-text {
    padding: 0;
    margin: 0;
    h3 {
      font-size: 12px;
    }
    img {
      width: 10px;
    }
    h4 {
      font-size: 12px;
      white-space: nowrap;
    }
    h6 {
      font-size: 12px;
    }
  }
  .view-users-card-header__avatar-border {
    height: 40px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .view-users-card-footer-tags {
    gap: 1rem;
    padding-left: 10rem;
    width: 20rem;
    overflow-y: scroll;
    h6 {
      font-size: 12px;
      white-space: nowrap;
    }
  }
  .view-users-center {
    top: 0;
    width: 80%;
    margin-top: 20rem;
    height: auto;
  }
  .view-users-center-between {
    gap: 2rem;
    flex-wrap: wrap;
    h3 {
      font-size: 8px;
      white-space: nowrap;
    }
    h6 {
      white-space: nowrap;
      font-size: 10px;
      padding-right: 0.5rem;
    }
  }
  .view-users-center-flex {
    display: inline-block;
    h3 {
      font-size: 8px;
      white-space: nowrap;
    }
    h6 {
      white-space: nowrap;
      font-size: 10px;
      padding-right: 0.5rem;
    }
  }
  .view-users-center-padding {
    gap: 1rem;
    h3 {
      font-size: 8px;
      white-space: nowrap;
    }
    h6 {
      white-space: nowrap;
      font-size: 10px;
      padding-right: 0.5rem;
    }
  }
}
